:root {
	/* --md-icon-font: 'Material Symbols Rounded'; */
	--md-list-container-color: transparent;
	-webkit-tap-highlight-color: transparent;
	--md-elevation-level: 2;

	--video-container-width: 500px;
}

body {
	margin: 0;

	background-color: var(--md-sys-color-surface);
	color: var(--md-sys-color-on-surface);

	position: absolute;
	inset: 0;
}
